.title6 a{
    color: #ff334e;
}
.title6 a:hover{
    color: orange;
}
.inf p{
    font-size: small;
}
.inf{
    padding-top: 20px;
    padding-bottom: 20px;
}
.foot a:hover{
    color: orange;
}
body{
    overflow-y:auto;
}