.title4 a{
    padding: 0px 10px;
    color: #ff334e;
}
.title4 a:hover{
    color: orange;
}
.toolsearch{
    background-image: url("../img/bg.jpg");
    padding: 100px 0px;
}
.toolsearch button{
    border-radius: 5px;
    border-color: transparent;
    background-color: #ff334e;
    color: white;
}
.toolsearch input{
    border-radius: 5px;
    width: 40%;
    border-color: transparent;
}
.exp-food{
    text-align: center;
}
.exp-food img{
    max-width: 60%;
    border-radius: 10px;
}
.exp-food h3{
    color: white;
    transform: translate(0%, -200%);
    margin: 0px 20%;
}
.img_menu{
    margin: 3% 3%;
    width: 20%;
}
.img_menu img{
    border-radius: 8px;
}
.food-menu-card{
    border-radius: 10px;
}
.card-body-foodmenu{
    padding-right: 0px;
}
.card-body-foodmenu p{
    color: gray;
    font-size: small;
}
.foodmenu-link{
    text-align: center;
    color:#ff334e;
    font-weight: bold;
    text-decoration: none;
}
.btn{
    background-color: #ff334e;
    color: white;
}
.foot p a:hover{
    color: orange !important;
}